@import "tailwindcss";

@theme{
--color-Purple300sub-heading-at-the-top-of-the-app-UI: hsl(276, 100%, 81%);
--color-Purple600chat-on-the-left: hsl(276, 55%, 52%);
--colorGray500chat-on-the-right-paragraph: hsl(270, 7%, 64%);
--color-Gray300placeholder-text: hsl(206, 6%, 79%);
--color-Purple950main-heading: hsl(271, 36%, 24%);
--color-Pink500: hsl(293, 100%, 63%);
--color-Purple500: hsl(264, 100%, 61%);
--color-White: hsl(0, 100%, 100%);
--color-Gray100app-background: hsl(270, 20%, 96%);
--color-Purple950submit-button-background: hsl(271, 36%, 24%);
--color-Pink400radio-button-outline: hsl(289, 100%, 72%);
}